
$height: 18.75em //300px



section

	padding-top: 2em
	padding-bottom: 2em








@media (min-width: 25.0625em)

	.project-caption
		display: none


	.project-overlay

		&:hover
			background: rgba(black, .54)
			transition: background .3s
			h2, h3
				visibility: visible

.hover-overlay
	padding-top: 7em
	h3
		margin-top: .5em

#detail-header
	background-color: $light-gray
